
<li class="mobile-nav__item">
    <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">Cart</a>
</li>
<li class="mobile-nav__item">
    <a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders">Orders</a>
</li>
<li class="mobile-nav__item">
    <a class="<%= path === '/dashboard' ? 'active' : '' %>" href="/auth/user/dashboard">My Dashboard</a>
</li>