<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <form class="login-form" action="/admin/signup" method="POST">
            <div class="form-control">
                <label for="name">Name</label>
                <input type='text' name="name" id="name" placeholder="name">
            </div>
            <div class="form-control">
                <label for="email"> Administrator Email</label>
                <input type="email" name="email" id="email" placeholder="email">
            </div>
            <div class="form-control">
                <label for="password"> Administrator Password </label>
                <input type="password" name ="password" placeholder="password"/>
            </div>
            <div class="form-control">
                <label for="ConfirmPassword"> Confirm Administrator Password </label>
                <input type="password" name ="ConfirmPassword" placeholder="password"/>
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input class="btn" type="submit" value="Sign Up">
        </form>
    </main>
<%- include('../includes/end.ejs') %>

    