<form action="/add-to-cart" method="post">
    <%- include('./csurf.ejs') %>
    <input class="btn" type="submit" value="Add to Cart">
    <input type="hidden" name="page" value="<%=page %>">
    <input type="hidden" name="productId" value="<%= product.id %>">
</form>