
<ul class="cat-section"> 
    <% for (let category of categories) { %>
        <li><a href="/category/<%=category%>?page=<%=productsData.paginationData.currentPage%>"> <%=category%></a></li>
    <% } %>
</ul>