<!-- link should be not be viewed by an admin -->
<% if (!isAdminLoggedIn) { %>
<li class="main-header__item">
    <a id="shop" class="<%= path === '/' ? 'active' : '' %>" href="/">Shop</a>
</li>
<% } %>