<div class="form-control"> 
     <label for="<%=fieldName%>"><%=label %></label>
    <textarea name="<%=fieldName %>" id="fieldName" rows="4" cols="50"><%=previousData[fieldName]%>
    </textarea>
</div>