<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="css/errorpage.css">
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <p>Please try again later....The server is down</p>
<p class='errorMessage'><%= errorMessage %></p>
<%- include('includes/end.ejs') %>