@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body,
input {
	font-family: 'Poppins', sans-serif;
}
.container {
	position: relative;
	width: 100%;
	min-height: 100vh;
	background-color: white;
	overflow: hidden;
}
.form-container {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
