<li class="main-header__item">
    <i class="fa fa-sign-in shop-icon"></i>
    <a href="/auth/admin/log-in">
        Login</a>
</li>
<li class="main-header__item">
    <a  href="/auth/admin/sign-up">
        Sign Up</a>
</li>
