<li class="mobile-nav__item">
    <a class="<%= path === '/add-product' ? 'active' : '' %>" href="/admin/add-product">Add Product
    </a>
</li>
<li class="mobile-nav__item">
    <a class="<%= path === '/products' ? 'active' : '' %>" href="/admin/products">View Products
    </a>
</li>
<li class="mobile-nav__item">
    <a class="<%= path === '/sales' ? 'active' : '' %>" href="/admin/get-admin-sales">See Your Sales
    </a>
</li>