
    <div >
        <div class="btn " style="background-color:#19e6a1;">Categories 
    </div>
    
    <%if(categories&&categories.length>0){%>
    
        <ul class="cat-section"> 
            <% for (let category of categories) { %>
                <li><a href="/<%=path%>/<%=category%>?page=1"> <%=category%></a></li>
            <% } %>
        </ul>
        </div>
     <% }%>
</div>

    
