

<section class="footer">
    <div>
        <h2> Lets Us Help You</h2>
        <ul>
           <li>
            <a href="/">
                Help Center
            </a>
           </li>
    <li><a href="/">Contact Us</a>  </li>
    <li> <a href="/">How to shop on Sokoni?</a></li>
    <li> <a href="/">Shipping and delivery</a></li>
    <li> <a href="/">Return Policy</a></li>
    <li> <a href="/">Dispute Resolution Policy</a></li>
    <li> <a href="/">Corporate and Bulk Purchase</a></li>
    <li> <a href="/">Sokoni International Shipping</a></li>
    <li> <a href="/">Advertise with Sokoni</a></li>
    <li> <a href="/">Sokoni Logistics Services</a></li>
    <li> <a href="/">Report a Product</a></li>
        </ul>
    </div>
  

   <div>
    <h2> About Sokoni</h2>
    <ul>
<li><a href="/">About us</a></li>
<li><a href="/">Sokoni Careers</a></li>
<li><a href="/">Sokoni Express</a></li>
<li><a href="/">Terms and Conditions</a></li>
<li><a href="/">Privacy & Cookie Notice</a></li>
<li><a href="/">UPS - Sokoni International Shipping</a></li>
<li><a href="/">Flash Sales</a></li>
    </ul>
   </div>
  <div>
    <h2> Make Money with Sokoni</h2>
    <ul>
        <li><a href="/">Sell on Sokoni</a></li>
        <li><a href="/">Become a Sales Consultant</a></li>
        <li><a href="/">Become a Logistics Service Partner</a></li>
        <li><a href="/">Sokoni City Partner Program</a></li>
    </ul>
  </div>
</section>
<script src="/js/main.js"></script>
</body>
</html>