<%if(success){%>
    <div class='success'> <%= success %> </div>
<% }%>
<%if(error){%>
    <div class='error-message'> <%= error %> </div>
<% }%>
<%if(info){%>
    <div class='info'> <%= info %> </div>
<% }%>
