<li class="main-header__item">
    <i class="fas fa-sign-out-alt shop-icon"></i>
    <form action="<% if (isAdminLoggedIn) { %>/auth/admin/logout<% } else { %>/auth/user/logout<% } %>" method="get">
        <button id="logout" class="<%= path === '/logout' ? 'active' : '' %>" type="submit">
            Log Out
        </button>
    </form>
</li>