<a style="margin-left: 20px;width: 5%; display: flex; justify-content: space-evenly; color:aliceblue; margin-left: 1rem; text-decoration: none;" href="/"> 
    <h1 style="color:rgb(83, 189, 216); font-size: 3.5rem; margin-bottom: 0;">S</h1>
    <h1 style="color:greenyellow; font-size: 3.5rem; margin-bottom: 0;">o</h1>
    <h1 style="color:aliceblue; font-size: 3.5rem; margin-bottom: 0;">koni</h1>
</a>