
<li class="mobile-nav__item">
    <a class="<%= path === '/admin/login' ? 'active' : '' %>" href="/auth/admin/log-in">
        Admin Login</a>
</li>
<li class="mobile-nav__item">
    <a class="<%= path === '/admin/signup' ? 'active' : '' %>" href="/auth/admin/sign-up">
        Admin Sign Up</a>
</li>