<li class="mobile-nav__item">
    <i class="fa fa-sign-in shop-icon"></i>
    <a class="<%= path === '/login' ? 'active' : '' %>" href="/auth/user/log-in">Login</a>
</li>
<li class="mobile-nav__item">
    <a class="<%= path === '/signup' ? 'active' : '' %>" href="/auth/user/sign-up">Sign Up</a>
</li>
