<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/admin-home.css">
<link rel="stylesheet" href="/css/forms.css">
</head>
    <body>   
       <div class="centered">
        <li class="card" style="height: 30%; width: 30%; ">
            <p>Have an account already?</p>
            <a  class="btn" href="/auth/admin/log-in">
                Login</a>
        </li>
        <li class="card" style="height: 30%; width: 30%; ">
            <p>Want to join as a seller</p>
            <br>
            <small style="color: chocolate;">Go through the necessary steps to be registered as an seller in the portal.</small>
            <a  class="btn" href="/auth/admin/sign-up">
                Sign Up</a>
        </li>
       </div>
    </body>
</html>