<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/sales.css">
<link rel="stylesheet" href="/css/product.css">
<link rel="stylesheet" href="/css/css/all.min.css">
</head>
<body>

    <%- include('../includes/admin-nav.ejs') %>
   
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
     <div style="width:50%; height: 25%; display: flex; flex-direction: column;">
        <canvas id="myChart" width="200" height="100"></canvas>
        <div style="width:50%; height: 25%; display: flex; flex-direction: column;">

        </div>
        <canvas id="myPie" width="200" height="60"></canvas>
     </div>
     <div>
      Your Total Profit as of now is = "<%=salesData.totalProfit %>" 
     </div>
    <script>
        const  salesData = <%- JSON.stringify(salesData) %>;
         const profitsData= salesData.profitTrend;
        const timeStamps = [];
        for (let i=0; i< profitsData.timeStamps.length; i++) {
          timeStamps.push(new Date(profitsData.timeStamps[i]).toUTCString().slice(0, -7))
        }
        const profits= profitsData.profits;


  
        const color= 'rgb(2, 217, 81)';

        const profitDataSet=  [{label:'Your profits growth rate Trend', data:profits,  backgroundColor: color,
            borderColor: color,
            fill: false,
            lineTension:0,
            radius: 5
          }];
       

   
        const dataPoints=[
        {label:'dataset 1', data: [10, 50, 25, 70, 40]},
        {label: 'dataset 2', data: [20, 35, 40, 60]}
        ]
        
        const dataset=[]
        for (let i = 0; i < 2; i++) {
          const color= generateRandomRGBstring();
          dataset.push({
            label: dataPoints[i].label,
            data: dataPoints[i].data,
            backgroundColor: color,
            borderColor: color,
            fill: false,
            lineTension:0,
            radius: 5,
          })
          
        }
        const data = {
    labels:timeStamps,
    datasets: profitDataSet,
  };


  function generateRandomRGBstring() {
    function randomNum(min, max) {
      return Math.floor(Math.random() * (max - min + 1) ) + min;
    }
    return `rgb(${randomNum(0,255)}, ${randomNum(250,255)}, ${randomNum(0,255)})`    
  }



    const config = {
          type: 'line',
          data,
          options: {
            scales: {
                y: {
                    ticks: {
                        // Include a dollar sign in the ticks
                        callback: function(value, index, ticks) {
                            return 'Kshs. ' + value;
                        }
                    }
                }
            }
            ,   
            plugins: {
                title: {
                    display: true,
                    text: 'Profits trend for your products.',
                    font: {
                        size: 28
                    }
                }
            }
    }
        };

        const canvas= document.getElementById('myChart');
        const myChart = new Chart(
          canvas,
          config
         );

      
      
      
    </script>
      <script>
       

//         const DATA_COUNT = 5;
// const NUMBER_CFG = {count: DATA_COUNT, min: 0, max: 100};

// const data1 = {
//   labels: sales.products,
//   datasets: [
//     {
//       label: 'Sales By Volume',
//       data:sales.totalVolumes
//     }
//   ]
// };


// const config1= {
//   type: 'pie',
//   data: data1,
//   options: {
//     responsive: true,
//     plugins: {
//       legend: {
//         position: 'top',
//       },
//       title: {
//         display: true,
//         text: 'Sales By Percentage'
//       }
//     }
//   },
// };
//         const ctx= document.getElementById('myPie');

    
//         ctx.style.marginLeft='15%';
//         ctx.style.width='25%';
//         ctx.style.height='20%';

//         var pieChart = new Chart(
//             ctx,config1);

      </script>      
</body>
</html>