<li class="main-header__item">
    <a id="view-products" class="<%= path === '/products' ? 'active' : '' %>" href="/admin/products">Your Products
    </a>
</li>
<li class="main-header__item">
    <a id="see-sales" class="<%= path === '/sales' ? 'active' : '' %>" href="/admin/get-admin-sales">See Your Sales
    </a>
</li>
<li class="main-header__item">
    <a id="add-product" class="<%= path === '/add-product' ? 'active' : '' %>" href="/admin/add-product">Add Product
    </a>
</li>