<!-- link should be not be viewed by an admin -->
<% if (!isAdminLoggedIn) { %>
<li class="main-header__item">
    <a id="shop" class="<%= path === '/' ? 'active' : '' %>" href="/">Shop</a>
</li>
<li class="main-header__item">
    <a id="products" class="<%= path === '/products' ? 'active' : '' %>" href="/products?page=1">Products</a>
</li>
<% } %>