<li class="main-header__item">
    <a id="products" class="<%= path === '/products' ? 'active' : '' %>" href="/products">Products</a>
</li>
<li class="main-header__item">
    <a id="cart" class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">Cart</a>
</li>
<li class="main-header__item">
    <a id="orders" class="<%= path === '/orders' ? 'active' : '' %>" href="/orders">Orders</a>
</li>
<li class="main-header__item">
    <a id='user-dashboard' class="<%= path === '/dashboard' ? 'active' : '' %>" href="/auth/user/dashboard">My
        Dashboard</a>
</li>