
<li class="main-header__item" style="flex-direction: column;">
    <i class="fas fa-shopping-cart shop-icon"></i>   
    <a id="cart" class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">Cart</a>
    <% if (noOfCartProducts>0) { %>
        <span class='badge badge-warning' id='lblCartCount'> <%= noOfCartProducts %> </span>
    <% }%>
</li>
<li class="main-header__item">
    <i class="fas fa-receipt shop-icon" ></i>
    <a id="orders" class="<%= path === '/orders' ? 'active' : '' %>" href="/orders">Orders</a>
</li>
<li class="main-header__item">
    <a id='user-dashboard' class="<%= path === '/dashboard' ? 'active' : '' %>"
        href="/auth/user/dashboard">Dashboard</a>
</li>