<li class="main-header__item">
    <i class="fas fa-sign-in-alt shop-icon"></i>
    <a href="/auth/user/log-in">
        Login</a>
</li>
<li class="main-header__item">
    <i class="fas fa-user-plus shop-icon"></i>
    <a  href="/auth/user/sign-up">
        Sign Up</a>
</li>
