<div class="form-control">
    <label for="password"> Password </label>
    <input type="password" placeholder="Type your password" name="password" id="password"
        value="<%= previousData.password%>" />
</div>