<div class="form-control">
    <label for="shortCode">Verification Code</label>
    <input type="number" placeholder="Enter Verification Code" name="shortCode" id="shortCode" value="<%= previousData.shortCode %>">
</div>